html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img,
fieldset {
  border: 0;
}
img {
  margin: 0 0 0 0;
  border: none;
  position: relative;
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol {
  list-style: none;
}
.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
.clr {
  clear: both;
  float: none;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #212121;
  font-weight: 300;
  background: #0097a7;
}
body {
  background: #FFF;
  font-size: 1em;
  line-height: 1.4;
  word-wrap: break-word;
  -webkit-backface-visibility: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 1s opacity;
}
body.fade {
  opacity: 0;
  transition: none;
}
/* PATTERNS */
.content {
  display: grid;
  width: 1400px;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 15px;
}
.angle:before {
  background: inherit;
  top: -25rem;
  content: "";
  display: block;
  height: 50rem;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-15deg);
  transform-origin: 100%;
  z-index: -1;
}
.imgContainer {
  position: relative;
}
.imgContainer img {
  height: auto;
  width: auto;
  max-width: 100%;
}
.imgContainer .layer0 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}
.imgContainer .layer1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/*SHADOWS*/
.shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* TYPOGRAPHY */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.667em;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  font-weight: 300;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 0.8;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 600;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 10px;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 600;
}
h6.hero {
  font-size: 1em;
  color: #b2ebf2;
}
p {
  padding: 0;
}
/*RESIZE FONTS FOR MEDIUM SCREEN SIZES*/
@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
/*RESIZE FONTS FOR SMALL SCREEN SIZES*/
@media screen and (max-width: 800px) {
  html {
    font-size: 13px;
  }
}
/*RESIZE FONTS FOR EXTRA SMALL SCREEN SIZES*/
@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}
a {
  color: #e91e63;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 300;
}
a:hover {
  color: #c2185b;
  text-decoration: none;
}
.button {
  background: transparent;
  border-bottom: 3px solid #00bcd4;
  color: #00bcd4;
  z-index: 99;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  margin-top: 10px;
  display: inline-block;
  line-height: 1;
  padding: 15px 15px;
  position: relative;
  text-decoration: none;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button.large {
  font-size: 1.2em;
}
.button:hover,
.button.pink:hover {
  color: #ffffff;
  cursor: pointer;
}
.button:before {
  content: "";
  position: absolute;
  background: #00bcd4;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.button:hover:before {
  top: 0;
}
.button.pink {
  color: #e91e63;
  border-color: #e91e63;
}
.button.pink:before {
  background: #e91e63;
}
.button.white {
  color: #ffffff;
  border-color: #ffffff;
}
.button.white:hover {
  color: #212121;
  cursor: pointer;
}
.button.white:before {
  background: #ffffff;
}
#hero {
  background: #0097a7;
  position: relative;
}
#hero #heroNav .heroNavMenu {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
#hero #heroNav .heroNavMenu li {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
}
#hero #heroNav .heroNavMenu li a {
  color: #FFF;
  font-weight: 300;
}
#hero #heroNav .heroNavMenu li a:hover {
  color: #b2ebf2;
}
#hero #heroNav .heroNavMenu li:hover {
  color: #b2ebf2;
}
#hero .content {
  padding: 90px 0 0 0;
  color: #FFF;
  position: relative;
  z-index: 100;
}
#hero .content .item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
#hero .content .item-2 {
  grid-column-start: 3;
  grid-column-end: 9;
  padding: 30px;
}
#hero .content .item-2 h1 {
  margin-top: -60px;
}
#hero .content .item-2 h1,
#hero .content .item-2 h2 {
  margin-left: -60px;
}
#hero .content .item-2 h2 {
  margin-bottom: 15px;
}
#hero .content .item-2 h6 {
  margin-bottom: 15px;
}
#hero .content.main {
  padding: 0;
}
#hero .content.main .item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 60px 0 30px 0;
}
#hero .content.main .item-2 {
  grid-column-start: 6;
  grid-column-end: 13;
  padding: 60px 0 0 0;
}
#hero .content.main .interiorHero {
  margin-top: 80px;
  margin-left: -50px;
  max-width: none;
  width: 110%;
}
#hero .content.main .interiorHero.lg {
  margin-left: 0px;
  max-width: none;
  width: 100%;
}
#hero .heroImage {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}
#hero .heroImage .content {
  padding: 0;
}
#hero .heroImage .content .item-1 {
  grid-column-start: 6;
  grid-column-end: 13;
}
#trio {
  background: #FFF;
  position: relative;
  z-index: 1;
  padding: 60px 0;
}
#trio .content {
  position: relative;
  z-index: 200;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}
#trio .content div {
  position: relative;
}
#trio .content .featureWrapper {
  min-height: 10em;
}
#trio .content .feature {
  padding: 20px 10px 20px 0;
  position: relative;
  top: 0;
  left: 0;
}
#trio .content .purple {
  fill: #0097a7;
}
#trio .content .icon {
  max-width: 100px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 32px;
  color: #0097a7;
}
#trio .content .label {
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  padding: 10px 0 0 10px;
  display: inline-block;
  vertical-align: bottom;
  color: #0097a7;
}
#trio .content .label h4 {
  font-weight: 600;
}
#trio .content p {
  padding: 0 15px 0 0;
}
#trio .content .active {
  display: block;
}
#trio .content .inactive {
  display: none;
  position: absolute;
}
#trio .content a {
  display: block;
  margin-top: 10px;
}
#trio .content ul {
  list-style-type: disc;
  margin: 5px 5px 0 25px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#trio .content ul li {
  padding: 0 10px 0 0;
}
#work {
  background: #f7f7f7;
}
#work .content {
  z-index: 200;
  position: relative;
  color: #757575;
  grid-row-gap: 60px;
}
#work .content .item:nth-child(4n + 1) {
  grid-column-start: 1;
  grid-column-end: 8;
}
#work .content .item:nth-child(4n + 2) {
  grid-column-start: 8;
  grid-column-end: 13;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work .content .item:nth-child(4n + 3) {
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
#work .content .item:nth-child(4n + 4) {
  grid-column-start: 6;
  grid-column-end: 13;
}
#work .content .photoGallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 4vw);
  grid-gap: 15px;
}
#work .content .photoGallery .galleryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#work .content .photoGallery .galleryItem1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
#work .content .photoGallery .galleryItem2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
#work .content .photoGallery .galleryItem3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}
#work .content .photoGallery .galleryItem4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
#work .content .photoGallery.dhl .galleryItem1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}
#work .content .photoGallery.dhl .galleryItem2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 9;
}
#work .content .photoGallery.dhl .galleryItem3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 9;
}
#work .content .line:after {
  content: "";
  width: 135%;
  height: 5px;
  background: #757575;
  position: absolute;
  bottom: 0;
  left: -40%;
  display: block;
}
#work .content .imgContainer .layer1.girl1 {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -15px;
  right: -15px;
  width: 23%;
}
#work .content .imgContainer .layer1.girl2 {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -14%;
  left: -50%;
  width: 10%;
}
#work .content .imgContainer .layer1.girl3 {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  left: -5%;
  width: 13%;
}
#writing {
  background: #FFF;
  padding: 120px 0 80px 0;
  z-index: 2;
  margin-top: -10px;
}
#writing .content {
  grid-template-columns: 1fr 9fr;
  z-index: 10;
}
#writing .content .girl {
  max-width: none;
  width: 120%;
  position: relative;
  z-index: 100;
}
#writing .content .subcontent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  padding: 30px 0;
  z-index: 100;
}
#writing .content .subcontent .item {
  background: #f7f7f7;
  padding: 30px;
  display: flex;
  z-index: 10;
}
#writing .content .subcontent .item div {
  position: relative;
  padding: 0 0 30px 0;
}
#writing .content .subcontent .item div a {
  position: absolute;
  display: block;
  z-index: 4;
  bottom: 0;
  left: 0;
}
#about {
  background: #0097a7;
  color: #FFF;
  position: relative;
  z-index: 1;
  padding: 30px 0 60px 0;
}
#about:before {
  background: inherit;
  top: -18rem;
  content: "";
  display: block;
  height: 20rem;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-8deg);
  transform-origin: 100%;
  z-index: -1;
}
#about .content {
  grid-template-columns: 1fr 430px;
}
#about .content .item-1 {
  padding: 30px;
}
#about .content .item-1 p {
  margin: 1em 0;
}
#about .content .item-2 .person_circle {
  position: relative;
  height: 430px;
}
#about .content .item-2 .person_circle_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 430px;
  height: 430px;
  margin: auto;
  z-index: 3;
}
#about .content .item-2 .person_image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 65%;
  height: 65%;
  z-index: 3;
}
#about .content .item-2 .circle_icons_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 50%;
}
#about .content .item-2 .circle_icons_track {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  margin: auto;
}
#about .content .item-2 .circ-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
#about .content .item-2 .circ-img-1 {
  background-image: url("../images/profile.jpg");
  background-position: center;
  background-size: cover;
}
#about .content .item-2 .circ-info {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  /*for a smooth font */
  z-index: 1;
}
#about .content .item-2 .circ-item:hover {
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.4);
}
#about .content .item-2 .circ-item:hover .circ-info {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#about .content .item-2 .circle-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: dashed 1px;
  border-radius: 50%;
}
#about .content .item-2 .circle-container div.circle {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px;
  border-radius: 50%;
  opacity: 1;
  animation-fill-mode: forwards;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: white;
}
#about .content .item-2 .slideout {
  animation: slideout 0.5s ease-in-out 0.5s;
}
#about .content .item-2 .slidein {
  opacity: 1;
  animation: slidein 0.5s ease-in-out;
}
#about .content .item-2 .circle-container div {
  background: #e91e63;
}
#about .content .item-2 .circle-container div a {
  color: #FFF;
}
#about .content .item-2 .circle-container div:hover {
  background: pink-dark;
}
#work.interior {
  padding: 0 0 120px 0;
}
#carousel {
  background: #0097a7;
  color: #FFF;
  position: relative;
  z-index: 1;
  padding: 0 0 30px 0;
}
#carousel .slides {
  padding: 0;
  max-width: 1200px;
  height: 40rem;
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#carousel .slides input {
  display: none;
}
#carousel .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
#carousel .slide-container {
  display: block;
}
#carousel .slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}
#carousel .slide img {
  width: 100%;
}
#carousel .nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 5em;
  text-align: center;
  background-color: rgba(194, 24, 91, 0.8);
}
#carousel .slide:hover + .nav label {
  opacity: 0.5;
}
#carousel .nav label:hover {
  opacity: 1;
}
#carousel .nav .next {
  right: 0;
}
#carousel input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
#carousel input:checked + .slide-container .nav label {
  display: flex;
  justify-content: center;
  align-items: center;
}
#carousel .nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
#carousel .nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
#carousel .nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
#carousel input#img-1:checked ~ .nav-dots label#img-dot-1,
#carousel input#img-2:checked ~ .nav-dots label#img-dot-2,
#carousel input#img-3:checked ~ .nav-dots label#img-dot-3,
#carousel input#img-4:checked ~ .nav-dots label#img-dot-4,
#carousel input#img-5:checked ~ .nav-dots label#img-dot-5,
#carousel input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}
#carousel .content {
  grid-template-columns: 20% 60% 20%;
  padding: 60px 0;
}
#carousel .content .item {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carousel .content .previous,
#carousel .content .next {
  box-sizing: border-box;
  width: 120px;
  background: #FFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #0097a7;
  text-transform: uppercase;
  padding: 35px 10px;
  text-align: center;
  opacity: 0.5;
  transition: opacity .2s;
}
#carousel .content .previous:hover,
#carousel .content .next:hover {
  opacity: 1;
}
#carousel .content .previous a,
#carousel .content .next a {
  color: #0097a7;
}
#footer {
  background: #0097a7;
  color: #FFF;
  padding: 10px 0;
}
#footer .content {
  grid-template-columns: repeat(2, 1fr);
}
#footer .content .item-1 {
  text-align: left;
  padding: 5px 0;
}
#footer .content .item-2 {
  text-align: right;
}
#footer .content .item-2 .footerLink {
  color: #FFF;
  display: inline-block;
  vertical-align: bottom;
  padding: 5px 0 5px 30px;
}
#contact {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #c2185b;
  color: #FFF;
  text-align: center;
  display: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#contact .close {
  font-size: 2em;
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
#contact .content {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100%;
  width: 100%;
}
#contact .item-1 {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .tri-grid {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#contact .tri-grid .item {
  padding: 30px;
}
#contact .tri-grid .item a {
  color: #FFF;
}
#contact .tri-grid .item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
@media screen and (max-width: 1400px) {
  .content {
    display: grid;
    width: 95%;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 15px;
  }
  .angle:before {
    top: -16rem;
    transform: skewY(-12deg);
    height: 43em;
  }
}
@media screen and (max-width: 1200px) {
  .angle:before {
    top: -8rem;
    transform: skewY(-6deg);
    height: 28em;
  }
  #hero .content .item-2 {
    grid-column-start: 4;
    grid-column-end: 9;
    padding: 0 0 60px 0;
  }
}
@media screen and (max-width: 980px) {
  #hero .content .item-2 {
    padding: 0 0 120px 0;
  }
  #hero .content.main {
    padding: 0;
  }
  #hero .content.main .item-1 {
    grid-column-start: 1;
    grid-column-end: 8;
  }
  #hero .content.main .item-2 {
    grid-column-start: 8;
    grid-column-end: 13;
  }
  #hero .content.main .interiorHero {
    margin-top: 140px;
    margin-left: -100px;
    width: 140%;
  }
  .angle:before {
    height: 34em;
  }
  #trio .content .icon {
    max-width: 75px;
  }
  #carousel .slides {
    height: 35rem;
  }
  #about .content {
    padding: 0 0 30px 0;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  #hero .content .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #hero .content .item-2 {
    grid-column-start: 3;
    grid-column-end: 10;
    padding: 0 0 120px 0;
  }
  #hero .content .item-2 h1,
  #hero .content .item-2 h2 {
    margin-left: 0;
  }
  #hero .content.main .interiorHero {
    margin-top: 0;
    margin-left: 0;
    max-width: none;
    width: 100%;
  }
  #hero .content.main {
    display: block;
  }
  #hero .heroImage .item-1 {
    grid-column-start: 8;
    grid-column-end: 13;
  }
  #trio .content {
    display: block;
  }
  #trio .content .featureWrapper {
    height: 10em;
  }
  #trio:after {
    background: inherit;
    content: "";
    display: block;
    height: 45rem;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: skewY(-6deg);
    transform-origin: 100%;
    z-index: -1;
  }
  #work .content {
    grid-template-columns: 100%;
  }
  #work .content .item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #work .content .item:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: block;
  }
  #work .content .item:nth-child(3) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    display: block;
  }
  #work .content .item:nth-child(4) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #work .content .item:nth-child(5) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #work .content .item:nth-child(6) {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    display: block;
  }
  #work .content .item:nth-child(7) {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    display: block;
  }
  #work .content .item:nth-child(8) {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #work .content .imgContainer .layer1.girl2 {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    left: 0;
    width: 15%;
  }
  #work .content .imgContainer .line:after {
    display: none;
  }
  #writing .content .subcontent {
    display: block;
    position: relative;
  }
  #writing .content .subcontent .item {
    margin-bottom: 30px;
  }
  #writing .content .girl {
    max-width: none;
    width: 140%;
  }
  #carousel .content {
    grid-template-columns: 50% 50%;
  }
  #carousel .content .item-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #carousel .content .item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: block;
  }
  #carousel .content .item-3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 600px) {
  #hero .content .item-2 {
    grid-column-start: 3;
    grid-column-end: 13;
    padding: 0 0 150px 0;
  }
  #carousel .slides {
    height: 20rem;
  }
}
@media screen and (max-width: 470px) {
  #hero #heroNav .heroNavMenu li.contact {
    display: none;
  }
  #hero #heroNav .heroNavMenu li.writing {
    display: none;
  }
  #hero .heroImage {
    display: none;
  }
  #hero .content .item-2 h1,
  #hero .content .item-2 h2 {
    margin-left: 0;
  }
  #contact .content {
    grid-template-columns: 0 100% 0;
  }
  #contact .tri-grid {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  #about .content .item-2 .person_circle {
    height: 300px;
  }
  #about .content .item-2 .person_circle_wrapper {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 300px) {
  .heroNavMenu {
    display: none;
  }
  #about .content .item-2 .person_circle {
    height: 250px;
  }
  #about .content .item-2 .person_circle_wrapper {
    width: 250px;
    height: 250px;
  }
}
/*General Animation Settings*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*Animation Delays*/
.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/*General Animations - Can Repurpose*/
@-webkit-keyframes spin {
  from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@keyframes slideout {
  from {
    opacity: 0;
    transform: rotate(0deg) translate(0px);
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: rotate(0deg) translate(0px);
  }
}
/*Skills Icon Animations*/
.slideDown1 {
  animation-name: slideDown1;
  -webkit-animation-name: slideDown1;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes slideDown1 {
  5% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
  95% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slideDown1 {
  5% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
  95% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
  }
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes slideUp {
  20% {
    opacity: 0;
    transform: translateY(100%);
  }
  40% {
    opacity: 1;
    transform: translateY(0%);
  }
  95% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  20% {
    opacity: 0;
    transform: translateY(100%);
  }
  40% {
    opacity: 1;
    transform: translateY(0%);
  }
  95% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
.dot1,
.dot2,
.dot3,
.dot4,
.dot5 {
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  visibility: visible !important;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.dot1 {
  animation-name: fadeIn1;
  -webkit-animation-name: fadeIn1;
}
@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dot2 {
  animation-name: fadeIn2;
  -webkit-animation-name: fadeIn2;
}
@keyframes fadeIn2 {
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn2 {
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dot3 {
  animation-name: fadeIn3;
  -webkit-animation-name: fadeIn3;
}
@keyframes fadeIn3 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn3 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dot4 {
  animation-name: fadeIn4;
  -webkit-animation-name: fadeIn4;
}
@keyframes fadeIn4 {
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn4 {
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dot5 {
  animation-name: fadeIn5;
  -webkit-animation-name: fadeIn5;
}
@keyframes fadeIn5 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn5 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pencil,
.ruler {
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.pencil {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
  }
}
.ruler {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight {
  10% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInRight {
  10% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */